body {
  font-family: Helvetica, arial, sans-serif;
  overflow-wrap: break-word;
  font-size : 1rem;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; }

body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }

a {
  color: #4183C4; }
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 2rem;
  color: black; }

h2 {
  font-size: 1.6rem;
  border-bottom: 1px solid #cccccc;
  color: black; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.0rem; }

h6 {
  color: #777777;
  font-size: 1.0rem; }

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0; }

hr {
/*     background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0; */
  border: 1px solid black;
  color: #cccccc;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }


li {
    margin: 0px; }
li p {
    margin-top: 0px;}
li p.first {
  display: inline-block;
 }


ul, ol {
  padding-left: 30px; }

ul :first-child, ol :first-child {
  margin-top: 0px; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }

ul ul,ol {
  margin-top: 0px; }
}
ol ul {
  margin-top: 0px; }
}

dl {
  padding: 0; }
  dl dt {
    font-size: 1.0rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

table {
  padding: 0;
  border: 2px solid #cccccc;
  border-collapse: collapse;
 }
  table tr {
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #fdfdfd; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      background-color: #f0f0f0;
      text-align: left;
      margin: 0;
      padding: 4px 8px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 4px 8px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

img {
  max-width: 100%;
  color: #8D4200;
  font-style: italic;  }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }

span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

em {
    padding: 2px 2px;
    font-style: italic; }

strong {
    color: #ff0000;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

code {
    padding: 2px 4px;
    font-size: 1rem;
    color: #c0341d;
    background-color: #fcefed;
    border-radius: 3px; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 1rem;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
pre code, pre tt {
    background-color: transparent;
    border: none; }

aside.notice {
    background-color: #FFD3B7;
    padding: 10px; 10px;
    border-radius: 3px; }

span.highlight {
    background: linear-gradient(transparent 30%, #ffff66 0%);
    line-height: 1.3em;
}

/* **Article** のような strong のみのブロックをセクション名の様に表示する */
strong.section {
    display: block;
    color: #A10038;
    font-weight: bold;
}

/* CodeFileNameFilter */
code.filename {
    display: block;
    background-color: #ffffff;
    font-weight: bold;
    border: none;
    margin-bottom: -1.0em;
    margin-left: -0.2em;
}
code.filename:before {
    content: "[";
}
code.filename:after {
    content: "]";
}


/* スマホ用 */
@media screen and (min-width: 0px) and (max-device-width: 920px) {
    body {
        padding: 1rem 0px; }
    h2 {
        font-size: 1.4rem;
        border-bottom: 1px solid #cccccc;
        color: black; }
    h3 {font-size: 1.3rem; }
    h4 {font-size: 1.2rem; }
    h5 {font-size: 1.0rem; }
    h6 {font-size: 1.0rem; }
}


/* table of contents */
ol.toc {
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: -0.5rem;
    list-style-type: none;
}
ol.toc li {
    margin-top: 0rem;
}
